<%# <div class="m-4">
  <form action="/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div> %>

<form action="/answer">
  <div class="mb-3">
    <label for="askAQuestion" class="form-label">Ask a Question</label>
    <input type="text" class="form-control" id="inputQuestion" aria-describedby="emailHelp" name="question">
  </div>
  <button type="submit" class="btn btn-primary">Ask!</button>
</form>
