<div class="m-4">
  <h1>Stupid Coaching</h1>
    <div class="border-start border-secondary border-4 my-4">
      <h4 class="fw-light px-4"><%= @question %></h4>
      <h4 class="fw-light fst-italic px-4">-You</h4>
    </div>

    <div class="border-start border-secondary border-4 bg-warning p-2 my-4" style="--bs-bg-opacity: .2;">
      <h4 class="px-4"><%= @answer %></h4>
      <h4 class="fw-light fst-italic px-4">-Your Coach</h4>
    </div>
</div>
